<div class="row post-row">
  <div class="col-xs-11 post-info">
    <a href="{{post.url}}" class="post-title" target="_blank">{{post.title}}</a>
    <div class="post-meta">
      <span>
        {{post.points}} points by <a href="{{post.authorURL}}" taget="_blank">{{post.author}}</a> |
        <a href="{{post.commentsURL}}" target="_blank">{{post.comments}} comments</a>
      </span>
    </div>
  </div>
</div>
